body{
    background-color: black;
    color:white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    margin-top: 20px;
    margin-bottom: 100px;
     width: 1200px;
     height: 600px;
     width: 90%;
     min-height: 400px;
}
.images{
    margin: 20px 0;
    position:relative;
}
.images img{
    max-width: 200px;
    display: none;
}
input{
    text-align: center;
    font-size: medium;
    margin-bottom: 50px;
    padding: 20px;
    width: 100px;
}
.Button{
    margin-top: 20px;
}
#gobtn{
    background-color: green;
    color:black;
    padding: 10px 20px;
    border:none;
    border-radius: 6px;
    cursor:pointer
}
#stopbtn{
    background-color: red;
    color:black;
    padding: 10px 20px;
    border:none;
    border-radius: 6px;
    cursor:pointer
}
#waitbtn{
    background-color: yellow;
    color:black;
    padding: 10px 20px;
    border:none;
    border-radius: 6px;
    cursor:pointer
}